.navButton {
  position: relative;
  padding: 10px;

  svg {
    font-size: 26px;

    /*Yildiz olursa svgden sonra gelen herhangi birsey olur. Yani navigation button icersinde childrenden sonra gelen hersey*/
    & + * {
      margin-left: 20px;
      margin-right: 15px;
    }
  }

  /*Css module de isimleri otomatik generate eder burada global diyerek bu isim global bunu generate etme dedik*/
  /*twitter iconunun temalara gore rengi icin*/
  /*css module yazmasaydik globaller olmayakti*/
  &:global(.twitter) {
    color: var(--c-theme);

    /*burada twitter iconu lingtta degilse rengi beyaz olsun*/
    :global(html:not(.light)) & {
      color: white;
    }
  }
}

.navButtonSelected {
  color: var(--c-theme);
}

.notify {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 17px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  background-color: var(--c-theme);
  color: var(--c-text-color);
  font-size: 11px;
  border: 1px solid var(--c-primary);
}
